@import url("../css/reset.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5d20a;
    background: url('images/your-background-image.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .websitename {
    font-size: 2em;
    font-style: normal;
    color: #f5d20a;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  .container1 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .container2 {
    background-color: #f5d20a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .background {
    background-color: #f5d20a;
    padding: 90px;
    border-radius: 90px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
  }
  
  .globe {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 25px;
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .background {
      background-image: url('images/Coffeebeans.jpg');
      background-color: rgb(255, 255, 255);
      padding: 90px;
      border-radius: 90px;
      box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
    }
  
    .globe {
      height: 200px;
    }
  }
  